.footer{
    width: 100%;
    padding: 3rem 0;
    background-color: rgba(19, 19, 19, 0.8);
    /* z-index: 3; */
}

.footer-container{
    max-width: 1140px;  
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 40px
}

.left{
    height: 100%;
    width: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.location {
    display: flex;
}

.phone .email{
    display: flex;
    align-items: center;
}

.location p{
    line-height: 30px;
}

.right{
    height: 100%;
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
}

.right p{
    text-align: center;
}

.right h4{
    text-align: center;
}

.social{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.footer-icon{
    color: "#fff"; 
    margin-right: 2rem;
}

h4{
    font: 1.2rem;
    padding-bottom: 0.7rem;    
}

p{
    font-size: 1.2rem;
}

@media screen and (max-width : 1024px) {
    .left p, h4{
        font-size: 15px;
    }
    .right p{
        font-size: 17px;
    }
    .right h4{
        /* text-align: center; */
    }
    .left, .right{
        width: 90%;
        padding-left: 7%;
        text-align: justify;
    }
}

/* Media query for phones */
@media screen and (max-width: 480px) {
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .left p, h4{
        font-size: 15px;
    }
    .right p{
        font-size: 17px;
    }
}

