.project-heading{
    text-align : center;
    padding: 4rem 0 2rem 0;    
}

.project-container{
    max-width : 1140px;
    margin : auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.card-image{
    width: 100%;
}

.proj-title{
    color: #fff;
    padding: 1rem 0;
}

.card .btn{
    display: block;
    width: 80%;
    margin: 2rem auto;
}

.proj-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: auto;
}

.proj-btn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.proj-btn .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* @media  screen and (max-width: 740px) {
    .project-container{
        max-width : 90%;
        margin : auto;
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media  screen and (max-width: 1440px) {
    .project-container{
        margin : 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .proj-btn .btn{
        height: 2.2rem;
        width: 5rem;
        font-size: 14px;
    }
}

@media  screen and (max-width: 767px) {
    .project-container{
        max-width : 20rem;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for phones */
@media screen and (max-width: 480px) {
    .proj-details p {
        font-size: 12px;
    }
    .proj-title{
        font-size: 20px;
    }
    .proj-btn .btn{
        height: 2.2rem;
        width: 5rem;
        font-size: 12px;
    }
}