@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@200;300;400&family=Oswald:wght@200;300;500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:wght@200;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  background: black;
  width: 100%;
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
} 

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-decoration: uppercase;
  background: rgb(248, 217, 15);
  /* background: rgb(227, 231, 171); */
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

